In [1]:
# Tuple

In [2]:
# Tuple is orderd hetrogeneous collection of diffrent type of items.
# Charctersticks of Tuple
# 1. Orderd
# 2. Immutable
# 3. Hetrogeneous
# 4. Duplictes

In [3]:
# Tuple can created in two way:
# 1. By using square bracket [].
# 2. By using tuple() constructor.

In [6]:
# 1. By using square bracket [].

tuple1 = (1,2,3,4)
print(type(tuple1))
print(tuple1)

<class 'tuple'>
(1, 2, 3, 4)

In [5]:
# 2. By using tuple() constructor.
tuple1 = tuple((1,2,3,4))
print(type(tuple1))
print(tuple1)

<class 'tuple'>
(1, 2, 3, 4)

In [8]:
# tuple is Hetrogeneous

tuple1 = (1, 2.2, 'Ashirvad', True, 'abc')
print(tuple1)

(1, 2.2, 'Ashirvad', True, 'abc')

In [9]:
# without comma ','

single_tuple = ("Hello")

print(type(single_tuple))
# Output class 'str'
print(single_tuple)

<class 'str'>
Hello

In [10]:
# with comma ','
single_tuple = ("Hello", )
print(type(single_tuple))
# output class tuple
print(single_tuple)

<class 'tuple'>
('Hello',)

In [11]:
# duplicates

x = (1,2,1,2,5,8,9)

print(x)

(1, 2, 1, 2, 5, 8, 9)

In [12]:
# length of a tuple

x = (1,2,1,2,5,8,9)
print(len(x))

7

In [14]:
# Access Tuple Items
#positive indexing
thistuple = ("apple","banana","cherry")
print(thistuple[1])

banana

In [15]:
#negative indexing
thistuple = ("apple","banana","cherry")
print(thistuple[-1])

cherry

In [16]:
#Slicing
thistuple = ("apple","banana","cherry","kiwi","melom","mango")
print(thistuple[2:4])

('cherry', 'kiwi')

In [17]:
print(thistuple[1:5])

('banana', 'cherry', 'kiwi', 'melom')

In [18]:
# for finding index

x = (1,2,3,4,5)

print(x.index(5))

4

In [19]:
# Immutable
x[0] = 10

TypeError: 'tuple' object does not support item assignment

In [20]:
# cheking whether item 4 exist in tuple

print(4 in x)
print(40 in x)

True
False

In [21]:
# Tuple method and Functions used with tuple.
# we can convert the tuple to a list, add items, and then convert it back to a tuple.

In [23]:
x = (1, 2, 3, 5, 4)
print(x)
x1 = list(x)
print(x1)
type(x1)
x1.append(6)
print(x1)
x = tuple(x1)
print(x)

(1, 2, 3, 5, 4)
[1, 2, 3, 5, 4]
[1, 2, 3, 5, 4, 6]
(1, 2, 3, 5, 4, 6)

In [24]:
# list in tuple can modify.
x = (1,2,3,[78,54],4,7)
print(x)

x[3][1] = 58

print(x)

(1, 2, 3, [78, 54], 4, 7)
(1, 2, 3, [78, 58], 4, 7)

In [25]:
# the delete keyword will delete entire tuple.

x = (1, 2, 3, 5, 4)

del x

print(x)

NameError: name 'x' is not defined

In [26]:
# Removing items from a tuple.
x = (1, 2, 3, 5, 4)
print(x)

x1 = list(x)
print(x1)

x1.remove(5)
print(x1)

x = tuple(x1)
print(x)

(1, 2, 3, 5, 4)
[1, 2, 3, 5, 4]
[1, 2, 3, 4]
(1, 2, 3, 4)

In [27]:
x = (1, 2, 86, 95, 86, 74, 86)
# Count all occurrences of item 86

print(x.count(86))

3

In [28]:
# joining of tuple

x1 = (1,2,3,4,5)
x2 = (6,7,8,9,10)

# concatenate tuples using + operator

x3 = x1+x2

print(x3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [29]:
# using sum function
x1 = (1,2,3,4,5)
x2 = (6,7,8,9,10)
# using sum function.

x3 = sum((x1, x2), ())

print(x3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [31]:
x1 = [1,2,3,4,5]
x2 = [6,7,8,9,10]
x3 = sum[[x1, x2],[]]
print(x3)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [34]:
# The Maximum value in a integer tuple
x = (25, 67, 86, 94)

print(max(x))

# The Minimum value in a integer tuple

print(min(x))

94
25

In [35]:
# The Maximum value in a string tuple

x = ('asd','ghj','ADS')

print(max(x))

# The Minimum value in a string tuple

print(min(x))

ghj
ADS

In [36]:
#can't use on heterogenous tuple
# function of max & min cannot use in hetrogeneous tuple /list

x = (1, 3.5, 'abc',True)

print(max(x))

TypeError: '>' not supported between instances of 'str' and 'float'

In [ ]:
# Note
#1. There are no append() or extend to add items and similarly no remove() or pop() method to remove itmes.
#   This ensure that dada is write protected. As the tuple are unchangeble they cab be used to represent read only or fixed data
#   that does not change.
#2. As they are immutable they can used as a key for the dictionaries. while list cannot be used for this purpose.
#3. As they are ummutable, the search operation is much faster than the list. this is beacause id of the items remains constant.
#4. Tuple contain hetrogeneous data that offers huge flexibility in data that contains combinations of data type
#   like alphanumeric characters.